@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --green-color: #4adf86;
    --gray-white-color: #b2b4ba;
    --main-color :  #1f2937;
}

body {
    background-color: #1C1C1C;
    font-family: "karla", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    padding: 0.6em 2em;
    padding: 50px;
    font-family: Arial, sans-serif;
    border: none;
    max-width: 700px;
    width: 600px;
    outline: none;
    color: rgb(255, 255, 255);
    background-color:  var(--main-color);
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.container::before {
    content: "";
    background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}


.container:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}


h1 {
    line-height: 0.9;
    font-size: 70px;
}

h1 span {
    /* display: block; */
    margin-top: 2px;
    line-height: 0.5;
    font-size: 30px;
    color: var(--green-color);
}

.small {
    font-size: 17px;
    margin-top: 2px;
    opacity: 0.8;
    color: var(--gray-white-color);
}

input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid var(--gray-white-color);
    border-radius: 4px;
    background-color: var(--main-color);
    color: white;
    font-size: 16px;
}

input[type="checkbox"] {
    margin-top: 20px;
    font-size: 20px;

}

button {
    background-color: var(--green-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

label {
    font-size: 18px;
}



.options {
    margin-bottom: 10px;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid var(--gray-white-color);
    background-color: var(--main-color);
    color: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


p {
    min-width: 200px;
    width: fit-content;
    height: 50px;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid var(--gray-white-color);
    border-radius: 4px;
    background-color: var(--main-color);
    color: white;
    font-size: 20px;
    resize: none;
    color : var(--green-color);
    text-align: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: relative;
}

.result {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* margin-top: 30px; */
}

.hr  {
    margin: 20px 0;
    height: 2px;
    /* thickness */
    background-color: #2f3e53;
}

p:hover::before {
    content: "Click to Copy";
    position: absolute;
    top: -28px;
    left: 0;
    background-color: #2f3e53;
    color: #fff;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    white-space: nowrap;
    cursor: pointer;
}